* {
  box-sizing: border-box;
}

div {
  width: 261px;
  border-radius: 10px;
  background-image: url("light-signal.jpg");
  color: white;
  padding: 10px;
}

input[type=text], select {
  width: 90%;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;

}

input[type=submit] {
  width: 50%;
  background-color: #151514;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 25%;
}

input[type=submit]:hover {
  background-color: white;
}


header {
  background-color: #666;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-image: url("batman-logo.jpg");
  height: 176px;
}

section {
  display: flex;
}

nav {
  flex: 1;
  background: #cccccc;
  padding: 20px;
}

nav ul {
  list-style-type: square;
}

article[class="batmobil"] {
  flex: 3;
  background-color: #8e8c89;
  display:block;
}

article[class="main"] {
  padding: 10px;
  flex: 3;
  background-color: #8e8c89;
  display:none;
}


section::after {
  display: table;
  clear: both;
}

footer {
  background-color: #151514;
  padding: 20px;
  text-align: center;
  color: #f1eee5;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
  }
}
